<h1>Hello {{username}}!</h1>
<p>We have received a request for withdrawal {{amount}} {{symbol}}</p>
<p>
    To process this transaction, enter this confirmation code <string>{{code}}</string>.
</p>
<p>
    If you do not recognize this activity, contact our support through support@kapture.la
</p>